.grid{
    justify-content: center !important;
}
.table{
    padding: 20px;
    background-color: #c1deff;
    border-radius: 5px;
}

.header{
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 25px;
}
.group-list{
    margin-bottom: 10px !important;
    display: flex;
    justify-content: space-between;
}